# Rust
target/
**/*.rs.bk
Cargo.lock

*/build
*/*/build
*/*/*/build
*/buildSrc
*/*/buildSrc
*/*/*/buildSrc
*/.gradle
*/*/.gradle
*/*/*/.gradle
# cargo-mobile2
.cargo/

# macOS
.DS_Store

# jetbrains
.idea/

# VS code
.vscode/

# Debug
test_run/